<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jatmika.e_complaintrangkasbitung">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:theme="@style/AppTheme">
        <activity
            android:name=".DetailKomplainSayaActivity"
            android:theme="@style/AppTheme.NoActionBar2"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".DetailBeritaActivity"
            android:theme="@style/AppTheme.NoActionBar2"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".KomplainSayaActivity"
            android:theme="@style/AppTheme.NoActionBar2"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar2" />
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DetailTutupJalanActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar2" />
        <activity
            android:name=".DetailSPPTActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar2" />
        <activity
            android:name=".DetailNikahActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar2" />
        <activity
            android:name=".DetailKTPActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar2" />
        <activity
            android:name=".DetailKependudukanActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar2" />
        <activity
            android:name=".DetailIUMKActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar2" />
        <activity
            android:name=".DetailInfrastrukturActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar2" />
        <activity
            android:name=".TambahKomplainTutupJalanActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar2" />
        <activity
            android:name=".TambahKomplainSPPTActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar2" />
        <activity
            android:name=".TambahKomplainNikahActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar2" />
        <activity
            android:name=".TambahKomplainKTPActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar2" />
        <activity
            android:name=".TambahKomplainKependudukanActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar2" />
        <activity
            android:name=".TambahKomplainIUMKActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar2" />
        <activity
            android:name=".TambahKomplainInfrastrukturActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar2" />
        <activity
            android:name=".KategoriActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar2" />
        <activity
            android:name=".KecamatanActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar2" />
        <activity
            android:name=".DeveloperActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar2" />
        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".MyFirebaseInstanceIDService" android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service
            android:exported="true"
            android:name=".MyFirebaseMessagingService"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCTVqhmc8ViqpRun9Kdh5zrEmqjxiiw3Qo" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

    </application>

</manifest>